{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <ul>
        <li>Username: <b>{{user.username}}</b></li>
        <li>Email: <b>{{user.email}}</b></li>
        <li>First Name: <b>{{user.first_name}}</b></li>
        <li>Last Name: <b>{{user.last_name}}</b></li>
      </ul>
    </div>
    <div class="col-9">
      <ul>
        {% for fb in user.feedback%}
        <li>{{fb.title}} - <a href="/feedback_form"> Edit</a></li>
        <div>-{{fb.content}}</div>
        {% if session['username'] == fb.username %}
        <form
          style="display: inline"
          action="/feedback/{{user.feedback.id}}/delete"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i>
          </button>
        </form>
        {% endif %} {% endfor%}
      </ul>
    </div>
  </div>
  <a class="btn btn-danger" href="/users/{{username}}/delete" role="button"
    >Delete User</a
  >
</div>

{% endblock %}
